<div class="dashboard">
  <% if @notes.length > 0 %>
    <div class="wrapper">
      <%= form_with url: notes_path, method: :get, local: true do |form| %>
        <div class="input-group">
          <%= form.text_field :search_key, class:"form-control", placeholder:"Search", id:"searchInput"%>
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="searchQuerySubmit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      <% end %>
      <%if params[:search_key].present?%>
        <div class="new">
          <button onclick="window.location.href='notes/'" class="btn">
            <strong>All Notes</strong>
          </button>
        </div>
      <%else%>

        <div class="new" style="padding-left: 800px;">
          <button onclick="window.location.href='notes/new'" class="btn">
            <strong>NEW</strong>
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      <%end%>
    </div>

    <table id="listing" style="margin-bottom: 10%">
        <tr>
          <th>Title</th>
          <th>Created At</th>
          <th>Modified At</th>
          <th>Action</th>
        </tr>
        <% @notes.each do |note| %>
          <tr>
            <td onclick="window.location='<%= edit_notes_path(note) %>';"><%= note.title %></td>
            <td><%= note.created_at %></td>
            <td><%= note.updated_at %></td>
            <td>
              <%= link_to '', edit_notes_path(note), class: "btn fa fa-eye"%>
              <%= link_to '', edit_notes_path(note), class: "btn fa fa-pencil"%>
              <%= link_to '', destroy_notes_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn fa fa-trash"%>
            </td>
          </tr>
        <% end %>
    </table>
  <% elsif params[:search_key].present?%>
    <div class="wrapper">
      <%= form_with url: notes_path, method: :get, local: true do |form| %>
        <div class="input-group">
          <%= form.text_field :search_key, class:"form-control", placeholder:"Search", id:"searchInput"%>
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="searchQuerySubmit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      <% end %>
      <div class="new">
        <button onclick="window.location.href='notes/'" class="btn">
          <strong>All Notes</strong>
        </button>
      </div>
    </div>
    <table id="listing" style="margin-bottom: 10%">
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Modified At</th>
        <th>Action</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oops!</strong> No notes matched your search!
      </div>
    </table>


  <% else %>
    <div class="wrapper">
      <%= form_with url: notes_path, method: :get, local: true do |form| %>
        <div class="input-group">
          <%= form.text_field :search_key, class:"form-control", placeholder:"Search", id:"searchInput"%>
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="searchQuerySubmit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      <% end %>
      <div class="new">
        <button onclick="window.location.href='notes/new'" class="btn">
          <strong>NEW</strong>
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
    <table id="listing" style="margin-bottom: 10%">
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Modified At</th>
        <th>Action</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>
          Hmm, looks like you haven't created a note yet.
          <a href="notes/new" ><strong>Create One Now ❯</strong></a>
        </h4>
      </div>
    </table>
  <% end %>
</div>
